<tr>
    <td>
        <div><strong>@product.Name</strong></div>
        <div class="text-muted"><small>ProductId:        @product.id</small></div>
        <div class="text-muted"><small>CustomerCategory: @product.CustomerCategory</small></div>
        <div class="text-muted"><small>Season:           @product.Season</small></div>
        <div class="text-muted"><small>Category          @product.Cathegory</small></div>
        <div class="text-muted"><small>Brand:            @product.Brand</small></div>
        <div class="text-muted"><small>Color:            @product.Color</small></div>
        <div class="text-muted"><small>Size:             @product.Size</small></div>
        <div class="text-muted"><small>Image:            @product.Image</small></div>
        <div class="text-muted"><small>CreateDate:       @product.CreateDate</small></div>
    </td>
    <td>
        <div><strong>@product.Price</strong></div>
        <div class="text-muted"><small>@product.InStock</small></div>
    </td>
    <td>
        <div><strong>@product.Image</strong></div>
        <div class="text-muted"><small>@product.CreateDate</small></div>
    </td>
</tr>


@code {
    [Parameter]
    public ProductModel product { get; set; }
}
