<table id="product-list" class="table" style="width:100%;">
    <thead>
        <tr>
            <th scope="col" style="width:50px">id</th>
            <th scope="col" style="width:100px">Name</th>
            <th scope="col" style="width:80px">Customer</th>
            <th scope="col" style="width:80px">Season</th>
            <th scope="col" style="width:120px">Category</th>
            <th scope="col" style="width:80px">Brand</th>
            <th scope="col" style="width:50px">Color</th>
            <th scope="col" style="width:50px">Size</th>
            <th scope="col" style="width:50px">Price</th>
            <th scope="col" style="width:160px">Image</th>
            <th scope="col" style="width:80px">CreateDate</th>
            <th scope="col" style="width:80px">InStock</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@product.id</td>
            <td>@product.Name</td>
            <td>@product.CustomerCategory</td>
            <td>@product.Season</td>
            <td>@product.Category</td>
            <td>@product.Brand</td>
            <td>@product.Color</td>
            <td>@product.Size</td>
            <td>@product.Price</td>
            <td>@product.Image</td>
            <td>@product.CreateDate.Substring(0,10)</td>
            <td>@product.InStock</td>
        </tr>
    </tbody>
</table>



@code {
    [Parameter]
    public ProductModel product { get; set; }
}
