@page "/productbyidcomponent"
@using System.Net.Http
@using System.Net.Http.Json
@inject HttpClient Http

<h3>ProductComponent</h3>


<p>Id: </p>
<input type="text" @bind="Id" />

@if (product == null)
{
    <p><em>Loading...</em></p> 
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Customer Category</th>
                <th>Season</th>
                <th>Category</th>
                <th>Brand</th>
                <th>Color</th>
                <th>Size</th>
                <th>InStock</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@product.id</td>
                <td>@product.CustomerCathegory</td>
                <td>@product.Season</td>
                <td>@product.Cathegory</td>
                <td>@product.Brand</td>
                <td>@product.Color</td>
                <td>@product.Size</td>
                <td>@product.InStock</td>
                <td>@product.Price</td>
            </tr>
        </tbody>
    </table>
}


@code { 
    private ProductModel product;
    private string Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Id = "1";
        product = await Http.GetFromJsonAsync<ProductModel>("GetProductById/" + Id);
    }
}
